---
title: Members
layout: default
---

<p>
 Join us. <a href="https://github.com/viennahtml/members">Become a Vienna.html member!</a>
</p>


<table>
{% for member in site.data.members.members %}

 <tr>
   <td>
     {% avatar user=member.github size=50 %}
   </td>
   <td>
    <div style="font-size: 300%">{{ member.name }}</div>
    <div>
       {% if member.github %}
          <a href="http://github.com/{{member.github}}">Github</a>
       {% endif %}

       {% if member.twitter %}
          <a href="http://twitter.com/{{member.twitter}}">@{{member.twitter}}</a>
       {% endif %}

       {% if member.web %}
          <a href="http://{{member.web}}">Website</a>
       {% endif %}
    </div>
   </td>
 </tr>

 {% endfor %}
 
</table>
 
