---
title: Members
layout: default
---

<p>
 Join us. <a href="https://github.com/viennahtml/members">Become a Vienna.html member!</a>
</p>


<table>
{% for member in site.data.members.members %}

 <tr>
   <td>
     {% avatar user=member.github size=60 %}
   </td>
   <td>
    <div style="font-size: 150%; font-weight: bold;">{{ member.name }}</div>
    <div style="font-size: 80%">
       {% if member.github %}
          <a href="http://github.com/{{member.github}}">Github</a>
       {% endif %}

       {% if member.twitter %}
          Twitter: <a href="http://twitter.com/{{member.twitter}}">@{{member.twitter}}</a>
       {% endif %}

       {% if member.web %}
          <a href="http://{{member.web}}">Website</a>
       {% endif %}
    </div>
   </td>
 </tr>

 {% endfor %}
 
</table>
 
