---
title: Members
layout: default
---

<!-- todo: add/use shared header/masthead ??? -->

<h1><a href="http://viennahtml.github.io">Vienna.html</a></h1>

<p>
 Join us. <a href="https://github.com/viennahtml/members" title="Add yourself to the Vienna.html Members Directory - free; no database required - just some YAML ;-)">Become a Vienna.html member!</a>
</p>


<table>
{% for member in site.data.members.members %}

 <tr>
   <td>
     {% avatar user=member.github size=60 %}
   </td>
   <td>
    <div style="padding-left: 10px;">
     <div style="font-size: 140%; font-weight: bold;">{{ member.name }}</div>
     <div style="font-size: 70%">
       {% if member.github %}
          <a href="http://github.com/{{member.github}}">Github</a> &nbsp;&nbsp;
       {% endif %}

       {% if member.twitter %}
          Twitter: <a href="http://twitter.com/{{member.twitter}}">@{{member.twitter}}</a> &nbsp;&nbsp;
       {% endif %}

       {% if member.web %}
          <a href="http://{{member.web}}">Website</a>
       {% endif %}
     </div>
    </div>
   </td>
 </tr>

 {% endfor %}
 
</table>
 
