---
title: Showcase - Learn by Example
layout: default
---


<!-- todo: add/use shared header/masthead ??? -->

<h1><a href="http://viennahtml.github.io">Vienna.html</a></h1>

<p>
  Learn by Example. Great static website made in Austria.
</p>

<div class='showcase'>
{% for showcase in site.data.showcase %}
  <div class='site' style='margin-bottom: 20px;'>
    <div>
         {% if showcase.tools %}
          {% for tool in showcase.tools %}
            #{{tool}}
          {% endfor %}
        {% endif %}      
    </div>
    <div class='site-live'>
      <a href="{{ showcase.live }}">
        <img src="{{site.path}}/i/thumbnails/{{showcase.thumbnail}}">
      </a>
    </div>
    <div class='site-info'>
      <b>{{ showcase.title }}</b> -
      {{ showcase.subtitle }}
      <br>      
      by {% if showcase.authors %}
           <!-- multiple authors (w/ array) -->
            {% for author in showcase.authors %}
              {% if author.github %} 
                {% assign author_github = showcase.author.github %}
                <a href="https://github.com/{{ author_github }}">{% avatar user=author_github size=24 %}</a>
              {% endif %}
              {{ author.name }}
            {% endfor %}
         {% endif %}
      
         {% if showcase.author %}
           <!-- single author -->
            {% if showcase.author.github %} 
              {% assign author_github = showcase.author.github %}
              <a href="https://github.com/{{ author_github }}">{% avatar user=author_github size=24 %}</a>
            {% endif %}
            {{ showcase.author.name }}
         {% endif %}
      <br>
      <a href="{{ showcase.live }}">[Live]</a>
      <a href="{{ showcase.source }}">[Source]</a>

          <br>
         {% if showcase.tags %}
          {% for tag in showcase.tags %}
            #{{tag}}
          {% endfor %}
        {% endif %}      
      
    </div>
  </div>
{% endfor %}
</div>
