
<div>
<!-- todo: add anchor for member in link to members ??? - why? why not?? -->
{% for member in site.data.members %}
  <a href="http://austriacodes.github.io/vienna.html/members" title="{{ member.name }}">
    {% avatar user=member.github size=50 %}
  </a>
{% endfor %}

  &nbsp;&nbsp;
  <span style="font-size: 150%; font-weight: bold;">
    <a href="signup" title="Add yourself to the Vienna.html Members Directory - free; no database required - just some YAML ;-)">Join us!</a>
  </span>
</div>
